/*! COOKIE SECTION*/ 
.cookie{
    background-color: var(--blue);
    color: var(--white);
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 2rem 1rem; 
    a{
        color: var(--white);
        font-weight: 600;
    }
}
