/*! PRODUCT SECTION*/ 
#product {
    header.product__title{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        letter-spacing: -2px;
    }
}

.product__text-overlay{
    .product__title {
        font-weight: 600;
        span {
            font-weight: 500;
        }
    }
    
}

.product__carousel-nav {
    background-color: transparent;
    padding-bottom: 2rem;
    
    li {
        padding: 0 1rem;
    }
    
    a {
        text-transform: uppercase;
        font-weight: 700;
        color: var(--blue-dark);
        font-size: 0.9rem;
        letter-spacing: 1px;
        padding: 0;
        &:hover{
            color: var(--blue-light);
        }
    }
    .active {
        border-bottom: 5px solid var(--blue);
        border-radius: none!important;
    }
    
}
.carousel-item {
    position: relative;
}
.product__text-overlay {
    color: var(--white);
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 3%;
    padding: 3rem 2rem;
    
    @media only screen and (max-width: 992px){
        color: var(--white);
        position: static;
        width: 100%;
        background-color: var(--blue-dark);
    }
}
.product__stats{
    justify-content: space-around;
    .stat{
        font-size: 2.25rem;
        font-family: 'Montserrat', sans-serif;
        // font-size: 700;
    }
    .label{
        font-weight: 700;
        font-size: 0.8rem;
        span {
            color: var(--blue-ocean);
            font-weight: 700;
        }
    }
}

.carousel-control-prev{
    .carousel-control-prev-icon{
        //phải chỉnh height chỗ này cho icon, tại bên bs4 file variable nó chỉ có custom width thôi, với nó lấy width=height, nên phải chỉnh tay chỗ này
        @include resumeDeclaration-Icon-Height-Navigation;
        @media only screen and (max-width: 992px){
            height: 10vw;
            width: 5vw;
        }
    }
}

.carousel-control-next{
    .carousel-control-next-icon{
        @include resumeDeclaration-Icon-Height-Navigation;
        @media only screen and (max-width: 992px){
            height: 10vw;
            width: 5vw;
        }
    }
}

.product__explore{
    border-top: 2px solid var(--gray-pr-line);
    // margin: 5rem 0 0;
    // background-color: lawngreen;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    position: absolute;
    width: 50%;
    height: 10%;
    bottom: 0;
    left: 0;
    padding: 1rem 3.5rem;
    z-index: 3;
    font-size: 0.9rem;
    
    @media only screen and (max-width: 992px) {
        color: var(--white);
        width: 100%;
        position: static;
        background-color: var(--blue-dark);
    }
}

#product__carousel-content{
    img{
        @media only screen and (max-width: 992px){
            position: static;  
        }
    }
}




// @media only screen and (max-width: 992px){
//     .product__carousel {
//         .carousel-control-prev-icon{
//                 height: 10vw;
//                 width: 5vw;
//         }
//         .carousel-control-next-icon{
//             height: 10vw;
//             width: 5vw;
//         }
    
//     }
//     #product__carousel-content{
//         img{
//             position: static;  
//         }
//     }
//     .product__text-overlay {
//         color: var(--white);
//         // position: absolute;
//         position: static;
//         width: 100%;
//         background-color: var(--blue-dark);
//         // height: 100%;
//     }
//     .product__explore {
//         color: var(--white);
//         // position: absolute;
//         width: 100%;
//         position: static;
//         background-color: var(--blue-dark);
//     }
// }

