/*! PRODUCT SECTION*/ 
#product {
    header.product__title{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        letter-spacing: -2px;
    }
}

.product__text-overlay{
    .product__title {
        font-weight: 600;
        span {
            font-weight: 500;
        }
        @media only screen and (max-width: 768px){
            font-size: 0.8rem;
            margin-bottom: 0;
        }
        @media only screen and (max-width: 576px){
            text-align: center;
        }
    }
    p {
        @media only screen and (max-width: 768px){
            font-size: 0.7rem;
        }
    }
    
    
}

.product__carousel-nav {
    background-color: transparent;
    padding-bottom: 2rem;
    
    li {
        padding: 0 1rem;
    }
    
    a {
        text-transform: uppercase;
        font-weight: 700;
        color: var(--blue-dark);
        font-size: 0.9rem;
        letter-spacing: 1px;
        padding: 0;
        &:hover{
            color: var(--blue-light);
        }
    }
    .active {
        border-bottom: 5px solid var(--blue);
        border-radius: none!important;
    }
    
}
.carousel-item {
    position: relative;
}
.product__text-overlay {
    color: var(--white);
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 3%;
    padding: 3rem 2rem;
    
    @media only screen and (max-width: 992px){
        @include rs-product__textoverlay-lg-sm;
        // color: var(--white);
        // position: static;
        // width: 100%;
        // background-color: var(--blue-dark);
    }
    @media only screen and (max-width: 768px){
        position: absolute;
        width: 40%;
        height: 100%;
        background-color: transparent;
        padding: 1rem 1.5rem;
    }
    @media only screen and (max-width: 576px){
        @include rs-product__textoverlay-lg-sm;
        padding: 0.5rem 6rem 1rem;
        
    }
}
.product__stats{
    justify-content: space-around;
    .stat{
        font-size: 2.25rem;
        font-family: 'Montserrat', sans-serif;
        @media only screen and (max-width: 768px){
            font-size: 1rem;
            margin-bottom: 0;
        }
        @media only screen and (max-width: 576px){
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
           
        }
    }
    .label{
        font-weight: 700;
        font-size: 0.8rem;
        span {
            color: var(--blue-ocean);
            font-weight: 700;
        }
        @media only screen and (max-width: 768px){
            font-size: 0.7rem;
            margin-bottom: 0;
            
        }
        @media only screen and (max-width: 576px){
            padding-bottom: 0.5rem;
        }
    }
}

.carousel-control-prev{
    .carousel-control-prev-icon{
        //phải chỉnh height chỗ này cho icon, tại bên bs4 file variable nó chỉ có custom width thôi, với nó lấy width=height, nên phải chỉnh tay chỗ này
        @include resumeDeclaration-Icon-Height-Navigation;
        @media only screen and (max-width: 992px){
            height: 10vw;
            width: 5vw;
        }
    }
}

.carousel-control-next{
    .carousel-control-next-icon{
        @include resumeDeclaration-Icon-Height-Navigation;
        @media only screen and (max-width: 992px){
            height: 10vw;
            width: 5vw;
        }
    }
}

.product__explore{
    border-top: 2px solid var(--gray-pr-line);
    // margin: 5rem 0 0;
    // background-color: lawngreen;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    position: absolute;
    width: 50%;
    height: 10%;
    bottom: 0;
    left: 0;
    padding: 1rem 3.5rem;
    z-index: 3;
    font-size: 0.9rem;
    
    @media only screen and (max-width: 992px) {
        color: var(--white);
        width: 100%;
        position: static;
        background-color: var(--blue-dark);
    }
    @media only screen and (max-width: 768px) {
        width: 50%;
        height: 6%;
        position: absolute;
        background-color: var(--blue-dark);
        padding: 0.2rem 1.5rem;
        font-size: 0.7rem;
        p{margin-bottom: 0;}
    }
    @media only screen and (max-width: 576px){
        bottom: 0;
        width: 100%;
        text-align: center;
        // padding: 0;
        // margin-bottom: 0;
        height: auto;
        position: static;
        
    }
}

#product__carousel-content{
    img{
        @media only screen and (max-width: 992px){
            position: static;  
        }
    }
}

.product__type {
    svg {   
        @media only screen and (max-width: 576px){
            height: 20%;
            width: 60%;
            margin: auto;
            display: flex;
        }
    }
    &+p{
        @media only screen and (max-width: 576px){
            display: none;
        }
        
    }
}

.product__buttons{
    
        @media only screen and (max-width: 576px){  
            padding: 0 2.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // background-color: green; 
        }
    button {
        @media only screen and (max-width: 576px){
            margin-right: 0.5rem;
        }
    
    
    }
}

// @media only screen and (max-width: 992px){
//     .product__carousel {
//         .carousel-control-prev-icon{
//                 height: 10vw;
//                 width: 5vw;
//         }
//         .carousel-control-next-icon{
//             height: 10vw;
//             width: 5vw;
//         }
    
//     }
//     #product__carousel-content{
//         img{
//             position: static;  
//         }
//     }
//     .product__text-overlay {
//         color: var(--white);
//         // position: absolute;
//         position: static;
//         width: 100%;
//         background-color: var(--blue-dark);
//         // height: 100%;
//     }
//     .product__explore {
//         color: var(--white);
//         // position: absolute;
//         width: 100%;
//         position: static;
//         background-color: var(--blue-dark);
//     }
// }

